.address-results {
  background-color:#fff;
  color:#000;
}

.address-box {
  z-index:201;
  width:100%;
}

.address-box:hover {
  cursor:pointer;
}

.address-window {
  position:fixed;
  width:50%;
  height:50%;
  z-index:202;
  background-color:#000;
  color:#fff;
}

.address-list-item:hover {
  cursor:pointer;
}
