@import "./_constants.scss";

.address-window {
  @include overlay;
}

.address-trigger {
  position: relative;
  z-index: 300;
}

.address-modal {
  background: $white;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  @include border-radius;
  padding: 50px;
}

.adress-container {
  display: flex;
}

.address-modal .search-input {
  margin: 0;
  width: 100%;
}

.address-modal .is-primary {
  margin-top: 20px;
}

.address-results {
  list-style-type: none;
  text-align: left;
  padding: 0;
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  padding: 0 20px;
  right: 50px;
  left: 50px;
  margin: 0;
  background: $light-grey;
  border-radius: 0 0 5px 5px;
}

.address-list-item {
  line-height: 20px;
  color: $dark-blue;
  padding-bottom: 5px;
}

.fa-home {
  color: $medium-grey;
  padding-right: 5px;
}
