$light-grey: #f5f5f5;
$dark-blue: #34495E;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $light-grey;
  color: $dark-blue;
}

.App {
  font-family: 'helvetica neue', helvetica, sans-serif;
  text-align: center;
}

.App-header {
  background: url(../../assets/events-header.jpg) bottom;
  background-size: cover;
  padding-bottom: 0;
  padding-top: 30vh;
}

.App-header:after {
  background: linear-gradient(to top right, rgba(128, 0, 128, 0.29) 40%, rgba(255, 192, 203, 0.75));
  bottom: 10px;
  content:"";
  height:100%;
  left:0;
  position: absolute;
  top:0;
  width:100%;
}

.header-catch-phrase {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: relative;
  z-index: 200;
}

.events-by-category-page {
  padding-top: 60px;
}
