@import "./_constants.scss";

.App {
  text-align: center;
}

.App-header {
  background-size: cover;
  padding-bottom: 0;
  padding-top: 30vh;
  background-repeat: no-repeat;
}

.App-header-1 {
  background: url(../../assets/events-header-min.jpg) bottom;  
}

.App-header-2 {
  background: url(../../assets/filip-mroz-177565-min.jpg) bottom; 
  background-size: cover;
}

.App-header-3 {
  background: url(../../assets/samuel-fyfe-251960-min.jpg) center;
  background-size: cover;  
}

.App-header-4 {
  background: url(../../assets/cater-yang-195422-min.jpg) center;
  background-size: cover;  
}

.App-header-5 {
  background: url(../../assets/ethan-hoover-334116-min.jpg) bottom;
  background-size: cover; 
}

.App-header-6 {
  background: url(../../assets/matt-lee-19500-min.jpg) bottom;
  background-size: cover;  
}

.App-header:after {
  @include image-gradient;
  bottom: 10px;
  content:"";
  height:100%;
  left:0;
  position: absolute;
  top:0;
  width:100%;
}

.header-catch-phrase {
  color: $white;
  font-size: 60px;
  position: relative;
  z-index: 200;
}

.events-by-category-page {
  padding-top: 60px;
}
