@import "./_constants.scss";

.Categories-list {
  align-content: space-around;
  background: $light-grey;
  color: $dark-blue;
  display: flex;
  flex-flow: row wrap;
  @include Montserrat;
  justify-content: space-around;
  margin: 0 auto;
  padding: 100px 70px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;
}

.Category {
  background: $white;
  @include border-radius;
  @include box-shadow;
  margin-bottom: 25px;
  padding: 20px;
  width: calc(20% - 30px);
  min-width: 200px;
}

.asset-container {
  align-items: center;
  @include icon-gradient;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 20px auto;
  position: relative;
  width: 80px;
}

.asset {
  color: white;
  font-size: 50px;
  position: relative;
  width: 100%;
}

.asset.fa-cubes {
  padding-left: 5px;
}

