$dark-blue: #34495E;
$light-grey: #eee;

.Categories-list {
  align-content: space-around;
  background: $light-grey;
  color: $dark-blue;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  margin: 0 auto;
  min-height: 35vh;
  padding: 100px 70px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;
}

.Category {
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  padding: 20px;
  width: calc(20% - 30px);

  > a {
    text-decoration: none;
    color: inherit;
  }
}

.asset-container {
  align-items: center;
  background: linear-gradient(to top right, rgba(39, 134, 162,1) 50%, rgba(63,188,155, 0.8));
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 20px auto;
  position: relative;
  width: 80px;
}

.asset {
  color: white;
  font-size: 50px;
  position: relative;
  width: 100%;
}

.asset.fa-cubes {
  padding-left: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    z-index: 300;

    // Vertical centering aid
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width:0;
        height: 100%;
    }
}
