@import "./_constants.scss";

.events-by-category-page {
  @include Montserrat;
  padding: 60px 70px;

  h2 {
    margin: 40px 0;
  }
}

.event-card {
  background-color: $white;
  width: 100%;
  list-style: none;
  @include box-shadow;
  margin: 0 auto 15px;

  @media (min-width: 600px) {
    width: calc(80% - 30px);
    margin: 15px auto 0 auto;
  }

  @media (min-width: $md-width) {
    min-width: 520px;
    margin: 15px auto 0 auto;
  }
}

.events-list {
  padding: 0;
  margin: 0;
}

.event-container {
  display: block;
  margin-bottom: 25px;

  @media (min-width: $md-width) {
    display: flex;
  }
}

.event-header {
  display: flex;
  flex-direction: column;
  width: 100%;
 
  @media (min-width: $md-width) {
    min-width: 250px;
    width: 60%;
  }
}

.event-header--price {
  background-color: $grey;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 43px;
  text-align: left;
  padding-left: 15px;
}

.event-header--image {
  width: 100%;
  height: 100%;
  background-color: $grey;
  display: block;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.event-header--image .default-icon {
  max-height: 100%;
  max-width: 70%;
  min-width: 180px;
  padding-top: 20px;
}

.event-image {
  width: 100%;
  background-size: cover;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
 
  @media (min-width: $md-width) {
    height: 100%;
  }
}

.event-info {
  width: 100%;
  text-align: left;
  position: relative;
  padding: 20px 20px 80px;
}

.event-info--time {
  font-size: 14px;
  margin: 0 0 12px;
}

.event-info--title {
  font-size: 17px;
  margin: 0 0 12px;
}

.event-info--location {
  font-size: 14px;
  position: absolute;
  bottom: 44px;
  width: 100%;
}

.event-info--tag {
  text-align: left;
  border-top: solid 1px $grey;
  position: absolute;
  padding: 12px 0;
  bottom: 0;
  width: 100%;
  left: 0;

  span {
    margin-left: 20px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}
