nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 50px;
  background-color: $light-black;
  color: $white;
  font-weight: 600;

  .navbar-items {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .navbar-items--home a{
    text-decoration: none;
    color: inherit;
    letter-spacing: 1px;
  }

  .navbar-items--address {
    padding-right: 20px;
  }
}
