@import "./_constants.scss";

.search-input-container {
  @include box-shadow;
  background-color: $white ; 
  @include border-radius;
  display: block;
  margin: 0 auto;
  padding: 50px; 
  position: relative;
  top: 50px;
  z-index: 200;
  width: 80%;

  @media (min-width: $lg-width) {
    display: flex;
    width: 50%;
  }
}

.Search-Events {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $lg-width) {
    width: 80%;
    margin-bottom: 0;
  }
}



