@import "./_constants.scss";

.overlay {
    @include overlay;

// Vertical centering aid
    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width:0;
        height: 100%;
    }
}

.spinner {
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    span {
        color: $white;
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
    }
}

.spinner-animation {
    border: 10px solid $white;
    border-top: 10px solid $basic-blue;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spinner-animation 1.8s linear infinite;
    margin-top: 10px;
}

@keyframes spinner-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
