.spinner {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;

    > span {
        color: #fff;
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
    }

    > .spinner-animation {
        border: 17px solid #f3f3f3;
        border-top: 17px solid #1F3B79;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spinner-animation 2s linear infinite;
        margin-top: 10px;
    }
}

@keyframes spinner-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
