* {
  box-sizing: border-box; }

body {
  margin: 0; }

.App {
  text-align: center;
  font-family: 'helvetica neue', helvetica, sans-serif; }

.App-header {
  padding-top: 30vh;
  padding-bottom: 0;
  /* background: linear-gradient(to right, #FD7869, #FD8E6D); */
  background: url(../../assets/filip-mroz-177565.jpg) top;
  background-size: cover; }

.App-header:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 10px;
  background: linear-gradient(to top right, rgba(76, 89, 115, 0.8) 40%, rgba(63, 188, 155, 0.8)); }

.header-catch-phrase {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: relative;
  z-index: 200; }

.Categories-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 100px 70px;
  background: #eee;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #34495E;
  position: relative;
  z-index: 100;
  min-height: 35vh; }

.Category {
  width: calc(20% - 30px);
  margin-bottom: 40px;
  padding: 20px;
  background: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px; }

.asset-container {
  border-radius: 50%;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top right, #2786a2 50%, rgba(63, 188, 155, 0.8)); }

.asset {
  width: 100%;
  position: relative;
  color: white;
  font-size: 50px; }

.asset.fa-cubes {
  padding-left: 5px; }

.search-input-container {
  padding: 50px;
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: 50px;
  display: flex;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  position: relative;
  z-index: 200; }

.Search-Events {
  width: 80%; }

input.search-input {
  display: block;
  border: none;
  border-bottom: 2px solid #2786a2;
  padding: 6.5px 2px;
  position: relative;
  top: 1px;
  width: calc(100% - 30px);
  font-size: 15px;
  margin-right: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #4c5973; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.is-primary {
  background: #2786a2;
  color: #fff;
  font-family: 'helvetica', sans-serif;
  padding: 7px 20px;
  border: 1px solid #fff;
  font-size: 15px;
  /* text-transform: uppercase; */
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }
